.w-25 {
    width: 25%;
} 

.w-30 {
    width: 30%;
}

.w-50 {
    width: 50%;
}

.w-70 {
    width: 70%;
}

.w-100 {
    width: calc(100% - 2 * 2rem) !important;
}

.mr-mt {
    margin-left: 25px;
}

.flex-block {
    display: flex;
}

.ascii-logo {
    /*
        - 4 rem     : Height of menubar
        - 2 * 2 rem : mt-8 & mb-8, margin top of 2 rem and margin bottom of 2 rem
    */
    width: 35vw;
    display: flex;
    flex-direction: column;
}

.system {
    /*
        35vw: Distro logo
        2rem: Margin left of distro logo
        1rem: Margin right of distro logo
        2rem: margin right of 2 rem done by hand 
    */
    width: calc(100vw - 35vw - 2rem - 1rem - 2rem);
}

pre {
    margin: auto !important;
}

.direction {
    flex-direction: row;
}

.ram-more {
    /* 100% - 2rem margin right & 2 rem margin left*/ 
    width: calc(100% - 2 * 2rem);
    display: flex;
}


@media(max-width: 700px) {
    .flex-block {
        display: block;
    } 

    .w-25,
    .w-50,
    .w-70,
    .w-30 {
        width: 100% !important;
        margin: 20px 20px 0px 0px !important;
    }

    .mr-mt {
        margin-left: 0px;
        margin-top: 25px;
    }

    .ascii-logo, 
    .system {
        width: calc(100vw - 2 * 2rem);
    }

    .system {
        margin-left: 2rem;
        margin-bottom: 4rem;
    }

    .none-sm {
        display: none;
    }


    .direction {
        flex-direction: column;
    }
}